@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,600,700);
.css-crop {
  width: 100%;
  height: 0;
  padding-bottom: 50%;
  background-repeat: no-repeat;
}
.css-crop.bg-cover {
  background-size: cover;
  /*-ms-behavior: url("/styles/backgroundsize.min.htc"); doesn't work on IE8-9...*/
  background-position: center;
}
.css-crop.bg-contain {
  background-size: contain;
  background-position: center;
}
.clear-margin {
  margin: 0;
  padding: 0;
}
.full-width {
  width: 100%;
}
.half-width {
  width: 50%;
}
.clickable {
  cursor: pointer;
}
.inline {
  display: inline;
}
.inline-block {
  display: inline-block !important;
}
.nomargin {
  margin: 0px !important;
}
.nowrap {
  white-space: nowrap;
}
.centered {
  display: block;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
.first {
  margin-top: 0px !important;
}
.last {
  margin-bottom: 0px !important;
}
.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: block;
}
.mejs-overlay-button {
  display: none;
}
[data-id=new] [data-field=title] {
  display: none;
}
.cv-viewer p {
  min-height: 1em;
}
.cv-viewer .vcv-header {
  margin: 30px auto;
  max-width: 1020px;
  position: relative;
}
.cv-viewer .vcv-header #social-share {
  text-align: right;
  position: absolute;
  left: -80px;
  top: 80px;
  z-index: 1050;
  opacity: 0;
}
.cv-viewer .vcv-header #social-share .share-button {
  min-height: 30px;
}
.cv-viewer .vcv-header #social-share .share-button.subtle {
  opacity: 0.75;
}
.cv-viewer .vcv-header .banner-top {
  padding-left: 90px;
  position: relative;
  margin-top: -10px;
  margin-bottom: -30px;
  z-index: 0;
  opacity: 0.5;
  display: inline-block;
}
.cv-viewer .vcv-header .banner-top:hover {
  opacity: 0.8;
  -webkit-transition-property: transform opacity;
  -moz-transition-property: transform opacity;
  transition-property: transform opacity;
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  transition-duration: 0.5s;
}
.cv-viewer .vcv-logo {
  height: 40px;
  display: block;
  padding: 5px 0;
}
.cv-viewer .cv-container article .empty {
  display: none !important;
}
.cv-viewer footer.vcv-footer {
  margin-top: 100px;
  color: #333;
  text-align: center;
}
.cv-viewer footer .powered-by {
  margin-top: 0px;
}
.cv-viewer footer .updated-at {
  opacity: 0.5;
}
.cv-fullscreen {
  position: relative;
}
.cv-fullscreen .powered-by a {
  color: white;
}
.cv-fullscreen .vcv-header {
  display: none;
}
.cv-fullscreen .vcv-footer {
  width: 100%;
  position: absolute;
  bottom: 0px;
  color: white;
  margin-top: 50px;
}
.cv-fullscreen .vcv-footer .updated-at {
  display: block;
  margin-bottom: 1em;
  opacity: 0.75;
}
.editor-visible {
  display: none;
}
.cv-editor .cv-container {
  margin: 0px auto 150px auto;
}
.cv-editor .cv-container .editor-visible {
  display: block;
}
.cv-container,
.cv-content {
  opacity: 1 !important;
}
.cv-container {
  display: block;
  margin: 0px auto 10px auto;
  min-height: 500px;
  padding: 50px 6.5%;
  max-width: 1020px;
  background: white;
  border-radius: 1px;
  z-index: 10;
}
.cv-container .nowrap-list li {
  white-space: nowrap;
}
.cv-container section {
  position: relative;
  word-wrap: break-word;
}
.cv-container article:after {
  content: '';
  display: block;
  clear: both;
}
/* .cv-container .main section:first-child .edit-section .sort-up,
.cv-container .cv-content section:first-child .edit-section .sort-up {
  display: none;
}
.cv-container .main section:last-of-type .edit-section .sort-down,
.cv-container .cv-content section:last-of-type .edit-section .sort-down {
  display: none;
} */
.cv-container #profile .edit-section {
  display: none;
}
.cv-container #references .date-range {
  display: none !important;
}
.cv-container #references .article-body {
  width: 100%;
}
.cv-container svg {
  overflow: visible;
}
.cv-container table {
  width: 100%;
}
.cv-container .morris-hover {
  display: none !important;
}
.cv-container input[type=month] {
  position: relative;
  border: none;
  max-width: 100%;
  content: attr(placeholder);
  display: inline-block;
}
.cv-container input[type=month]:before {
  content: attr(placeholder);
  position: absolute;
}
.cv-container .gallery .asset-thumb {
  display: block;
}
.cv-container .asset label.empty {
  display: block !important;
}
.cv-container .btn {
  margin-bottom: 15px;
}
.cv-container .btn i.subtle {
  opacity: 0.2;
}
.cv-container .btn i {
  opacity: 0.5;
}
.cv-container .btn.btn-glass {
  background-color: rgba(255, 255, 255, 0.15);
  -webkit-box-shadow: 0 3px 0 rgba(0, 0, 0, 0.05);
  box-shadow: 0 3px 0 rgba(0, 0, 0, 0.05);
  border: 1px solid rgba(255, 255, 255, 0.1);
  color: rgba(255, 255, 255, 0.7);
}
.cv-container a[href] {
  color: #428bca;
}
.cv-container a[href] [data-field=organization] {
  color: #428bca;
}
.cv-container [data-field=organization_url] {
  display: block;
}
.cv-container [data-field=end_date]:before {
  content: ' - ';
}
.cv-container .add-section {
  max-width: 850px;
  margin: 0px auto;
}
.cv-container .cv-content:after {
  content: '';
  display: block;
  clear: both;
}
.cv-container .cv-content .user-thumb {
  display: none;
}
.cv-container .cv-content .user-thumb.visible {
  display: inherit;
}
.cv-container .asset-thumb {
  position: relative;
  cursor: pointer;
  display: block;
}
.cv-container .asset-thumb .asset-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 15%;
  z-index: 100;
  opacity: 0.5;
}
.cv-container .asset-thumb .asset-overlay:hover {
  opacity: 0.75;
}
.cv-container .asset-thumb .asset-overlay.youtube {
  background-image: url("/images/icons/play.png");
}
.cv-container .asset-thumb .asset-overlay img {
  page-break-inside: avoid;
}
.cv-container .asset label.ellipsis > span {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: block;
}
@media (max-width: 992px) {
  #social-share {
    display: none;
  }
  .vcv-header a {
    display: block;
    margin-bottom: 15px;
  }
  .vcv-header .vcv-logo {
    display: inline;
  }
  .vcv-header .btn {
    width: 100%;
  }
}
.pdf .cv-container .chart-container {
  width: 850px;
}
.pdf .cv-container .cv-content {
  padding: 0px;
}
.pdf .cv-container .portfolio .css-crop {
  -webkit-box-shadow: none;
  box-shadow: none;
}
.pdf .cv-container .user-thumb {
  -webkit-box-shadow: none;
  box-shadow: none;
}
.pdf body,
.embed body {
  background: white !important;
}
.pdf .container,
.embed .container {
  padding: 0px;
  margin: 0px auto;
  width: 100%;
}
.pdf .cv-container,
.embed .cv-container {
  padding: 0px !important;
  margin-bottom: 0px !important;
  max-width: 100% !important;
  border: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.pdf .cv-container section:last-of-type,
.embed .cv-container section:last-of-type,
.pdf .cv-container section:last-of-type article:last-of-type,
.embed .cv-container section:last-of-type article:last-of-type,
.pdf .cv-container section:last-of-type article:last-of-type,
.embed .cv-container section:last-of-type article:last-of-type,
.pdf .cv-container p:last-of-type,
.embed .cv-container p:last-of-type,
.pdf .cv-container .content-container,
.embed .cv-container .content-container,
.pdf .cv-container .cv-content,
.embed .cv-container .cv-content {
  margin-bottom: 0px !important;
  padding-bottom: 0px !important;
}
.pdf .vcv-header,
.embed .vcv-header,
.pdf .vcv-footer,
.embed .vcv-footer {
  display: none;
}
.pdf header,
.embed header,
.pdf .header-text,
.embed .header-text {
  page-break-after: avoid;
  page-break-inside: avoid;
}
.pdf .no-page-break,
.embed .no-page-break,
.pdf .css-crop,
.embed .css-crop,
.pdf pre,
.embed pre,
.pdf blockquote,
.embed blockquote,
.pdf img,
.embed img,
.pdf svg,
.embed svg,
.pdf .chart-graph,
.embed .chart-graph,
.pdf .chart-container,
.embed .chart-container,
.pdf .asset,
.embed .asset {
  page-break-inside: avoid;
}
.pdf .no-page-break p,
.embed .no-page-break p {
  page-break-inside: avoid;
}
.pdf .page-break,
.embed .page-break {
  page-break-before: always;
}
.pdf thead,
.embed thead {
  display: table-header-group;
}
.pdf p,
.embed p {
  orphans: 4;
  widows: 4;
}
@page {
  size: A4 portrait;
}
.cv-container {
  font-family: "Source Sans Pro", "Open Sans", "Century Gothic", CenturyGothic, "Microsoft YaHei New", "Microsoft Yahei", "微软雅黑", 宋体, SimSun, 华文细黑, STXihei, 黑体, SimHei, sans-serif;
  font-size: 15px;
  font-weight: 300;
  padding: 0px;
  color: black;
}
.cv-container .cv-content {
  padding: 4em 8.5%;
}
.cv-container h1,
.cv-container h2,
.cv-container h3,
.cv-container h4 {
  margin-top: 0px;
  margin-bottom: 0.25em;
}
.cv-container h2 {
  overflow: auto;
}
.cv-container h4 {
  font-size: 110%;
  margin-top: 0.3em;
  margin-bottom: 0.3em;
}
.cv-container h5,
.cv-container h6 {
  font-size: 100%;
  margin-top: 0.6em;
  margin-bottom: 0.6em;
}
.cv-container h1 {
  color: #64B1F2;
  font-size: 250%;
}
.cv-container h2 {
  font-size: 125%;
  font-weight: 200;
}
.cv-container h3 {
  font-size: 150%;
  font-weight: 400;
  color: #64B1F2;
}
.cv-container h4,
.cv-container strong,
.cv-container label {
  font-weight: 600;
}
.cv-container p {
  margin-bottom: 0.6em;
}
.cv-container section {
  margin-top: 1.5em;
}
.cv-container section .date-range {
  text-align: center;
  font-weight: normal;
}
.cv-container .col-sm-9 .glyphicon {
  font-size: 85%;
  width: 25px;
  text-align: left;
  vertical-align: top;
  padding-top: 2px;
}
.cv-container .vcard {
  padding-bottom: 1em;
  margin-bottom: 0px;
  margin-top: 0px;
}
.cv-container .vcard .user-thumb {
  float: left;
  width: 115px;
  padding: 4px;
}
.cv-container .vcard .user-thumb .css-crop {
  padding-bottom: 100%;
}
.cv-container .vcard article.profile {
  overflow: visible;
}
.cv-container .vcard .user-title {
  display: block;
  overflow: hidden;
  padding-right: 10px;
}
.cv-container .vcard .user-contact {
  float: right;
  padding-left: 10px;
  list-style: none;
  padding-top: 0.25em;
  border-left: 1px solid #dedede;
  margin: 0px;
  width: auto;
}
.cv-container .vcard .user-contact i {
  text-align: center;
  width: 1.35em;
  color: #cccccc;
}
.cv-container .vcard .user-contact li {
  font-size: 90%;
  margin-bottom: 0.25em;
  overflow: visible;
  white-space: nowrap;
}
.cv-container .vcard .user-contact li:before {
  font-family: FontAwesome;
  opacity: 0.25;
  font-size: 100%;
  margin-right: 0.25em;
  text-align: center;
  width: 1.35em;
  display: inline-block;
  vertical-align: middle;
}
.cv-container .vcard .user-contact li.locality:before {
  content: "\f041";
}
.cv-container .vcard .user-contact li.phone:before {
  content: "\f095";
}
.cv-container .vcard .user-contact li.email:before {
  content: "\f003";
}
.cv-container .vcard .user-contact li > span {
  display: inline;
}
.cv-container .vcard .user-links li {
  overflow: visible;
  white-space: nowrap;
  display: block;
}
@media (max-width: 768px) {
  .cv-container .vcard {
    text-align: center;
  }
  .cv-container .vcard .user-thumb {
    min-width: 50%;
    max-width: 75%;
    float: none !important;
    margin: 15px auto !important;
  }
  .cv-container .vcard .user-title {
    float: none;
  }
  .cv-container .vcard .user-contact {
    width: 100%;
    float: none !important;
    border-left: none;
  }
  .cv-container .vcard .user-contact li {
    margin: 0px 5px;
    display: inline-block;
  }
}
.cv-container .vcard {
  border-bottom: 1px solid #dedede;
}
.cv-container .vcard .col-sm-2 {
  padding-right: 0px;
}
.cv-container .vcard .user-thumb {
  width: 5em;
  float: right;
  margin-left: 1em;
  border: 1px solid #64B1F2;
  border-radius: 100%;
  box-shadow: 1px 1px 3px 0px #cccccc;
}
.cv-container .vcard .user-thumb .css-crop {
  border-radius: 100%;
}
.cv-container #summary header {
  display: none;
}
.cv-container #summary article {
  text-align: center;
  border-bottom: 1px solid #dedede;
  padding: 0em 1.5em 0.75em 1.5em;
  font-size: 120%;
  font-weight: 200;
}
.cv-container #summary article .header-text {
  display: none;
}
.cv-container #references .ribbon,
.cv-container .chart .ribbon {
  display: none;
}
.cv-container section {
  clear: both;
}
.cv-container section .header-text {
  margin-left: 28%;
}
.cv-container section .article-headings {
  float: left;
  width: 25%;
  margin-right: 3%;
}
.cv-container section .article-body {
  padding-left: 28%;
}
.cv-container section.profile {
  margin-top: 0px;
}
.cv-container section.strengths {
  padding-left: 28%;
}
.cv-container section.strengths .article-body,
.cv-container section.strengths .header-text {
  padding-left: initial;
  margin-left: initial;
}
.cv-container section.strengths article {
  width: 48%;
  float: left;
}
.cv-container section.strengths article:nth-child(odd) {
  margin-right: 4%;
}
.cv-container .ribbon {
  position: relative;
  border: 1px solid #64B1F2;
  color: #64B1F2;
  border-radius: 3px 1px 1px 0px;
  padding: 5px;
  text-align: center;
  box-shadow: 1px 1px 3px 0px #cccccc;
}
.cv-container .ribbon a {
  color: #64B1F2;
}
.cv-container .ribbon h4 {
  margin: 0px;
}
.cv-container .ribbon:before {
  content: "";
  left: -2px;
  bottom: -0.5em;
  border-width: 0.5em 0 0 0.75em;
  border-color: #64B1F2 transparent transparent transparent;
  position: absolute;
  display: block;
  border-style: solid;
}
.cv-container .portfolio .asset-row {
  margin-left: -5px;
  margin-right: -5px;
}
.cv-container .portfolio .asset {
  padding-left: 5px;
  padding-right: 5px;
}
.cv-container .portfolio .asset .asset-description {
  display: none;
}
.cv-container .portfolio label {
  min-height: 1.5em;
}
.cv-container .portfolio .css-crop {
  width: 100%;
  padding-bottom: 75%;
  border: 2px solid #64B1F2;
  border-radius: 0px 25px 0px 25px;
  box-shadow: 1px 1px 3px 0px #cccccc;
}
.cv-container .portfolio a label {
  cursor: pointer;
}
.cv-container .competency .competency-bar {
  margin: 0.5em 0px 0.75em;
  width: 100%;
  background-color: #dedede;
  border-radius: 2px;
  height: 8px;
  -webkit-transform: skewX(-45deg);
  -ms-transform: skewX(-45deg);
  -moz-transform-origin: skewX(-45deg);
  -o-transform-origin: skewX(-45deg);
  transform: skewX(-45deg);
}
.cv-container .competency .competency-level {
  background-color: #64B1F2;
  border-radius: 2px;
  height: 100%;
}
.cv-container .competency .competency-bar {
  margin-top: 6px;
  width: 100%;
  background-color: #dedede;
  border-radius: 3px;
  height: 6px;
  transform: none;
}
.cv-container .competency .competency-level {
  background-color: #64B1F2;
  border-radius: 3px;
  height: 6px;
}
.cv-container .competency:nth-child(2n+1) {
  clear: both;
}
.cv-container .edit-new {
  width: 100%;
  margin-bottom: 10px;
}
.cv-container .skills form {
  width: 100%;
  float: left;
}
.cv-container [data-id=new] h3 {
  display: none;
}
@media (max-width: 768px) {
  .cv-container section .date-range {
    text-align: left;
    color: #cccccc;
  }
  .cv-container section {
    padding-left: initial !important;
  }
  .cv-container section .article-body {
    padding-left: initial;
  }
  .cv-container section .header-text {
    margin-left: initial;
  }
  .cv-container article .article-headings,
  .cv-container article .article-body {
    width: 100% !important;
  }
}
.pdf .cv-container .cv-content {
  padding: 0px;
}
.pdf .cv-container .chart-container {
  width: 700px !important;
}