@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,500,600,700);
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,500,600,700);
.css-crop {
  width: 100%;
  height: 0;
  padding-bottom: 50%;
  background-repeat: no-repeat;
}
.css-crop.bg-cover {
  background-size: cover;
  /*-ms-behavior: url("/styles/backgroundsize.min.htc"); doesn't work on IE8-9...*/
  background-position: center;
}
.css-crop.bg-contain {
  background-size: contain;
  background-position: center;
}
.clear-margin {
  margin: 0;
  padding: 0;
}
.full-width {
  width: 100%;
}
.half-width {
  width: 50%;
}
.clickable {
  cursor: pointer;
}
.inline {
  display: inline;
}
.inline-block {
  display: inline-block !important;
}
.nomargin {
  margin: 0px !important;
}
.nowrap {
  white-space: nowrap;
}
.centered {
  display: block;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
.first {
  margin-top: 0px !important;
}
.last {
  margin-bottom: 0px !important;
}
.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: block;
}
.mejs-overlay-button {
  display: none;
}
[data-id=new] [data-field=title] {
  display: none;
}
.cv-viewer p {
  min-height: 1em;
}
.cv-viewer .vcv-header {
  margin: 30px auto;
  max-width: 1020px;
  position: relative;
}
.cv-viewer .vcv-header #social-share {
  text-align: right;
  position: absolute;
  left: -80px;
  top: 80px;
  z-index: 1050;
  opacity: 0;
}
.cv-viewer .vcv-header #social-share .share-button {
  min-height: 30px;
}
.cv-viewer .vcv-header #social-share .share-button.subtle {
  opacity: 0.75;
}
.cv-viewer .vcv-header .banner-top {
  padding-left: 90px;
  position: relative;
  margin-top: -10px;
  margin-bottom: -30px;
  z-index: 0;
  opacity: 0.5;
  display: inline-block;
}
.cv-viewer .vcv-header .banner-top:hover {
  opacity: 0.8;
  -webkit-transition-property: transform opacity;
  -moz-transition-property: transform opacity;
  transition-property: transform opacity;
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  transition-duration: 0.5s;
}
.cv-viewer .vcv-logo {
  height: 40px;
  display: block;
  padding: 5px 0;
}
.cv-viewer .cv-container article .empty {
  display: none !important;
}
.cv-viewer footer.vcv-footer {
  margin-top: 100px;
  color: #333;
  text-align: center;
}
.cv-viewer footer .powered-by {
  margin-top: 0px;
}
.cv-viewer footer .updated-at {
  opacity: 0.5;
}
.cv-fullscreen {
  position: relative;
}
.cv-fullscreen .powered-by a {
  color: white;
}
.cv-fullscreen .vcv-header {
  display: none;
}
.cv-fullscreen .vcv-footer {
  width: 100%;
  position: absolute;
  bottom: 0px;
  color: white;
  margin-top: 50px;
}
.cv-fullscreen .vcv-footer .updated-at {
  display: block;
  margin-bottom: 1em;
  opacity: 0.75;
}
.editor-visible {
  display: none;
}
.cv-editor .cv-container {
  margin: 0px auto 150px auto;
}
.cv-editor .cv-container .editor-visible {
  display: block;
}
.cv-container,
.cv-content {
  opacity: 1 !important;
}
.cv-container {
  display: block;
  margin: 0px auto 10px auto;
  min-height: 500px;
  padding: 50px 6.5%;
  max-width: 1020px;
  background: white;
  border-radius: 1px;
  z-index: 10;
}
.cv-container .nowrap-list li {
  white-space: nowrap;
}
.cv-container section {
  position: relative;
  word-wrap: break-word;
}
.cv-container article:after {
  content: '';
  display: block;
  clear: both;
}
/* .cv-container .main section:first-child .edit-section .sort-up,
.cv-container .cv-content section:first-child .edit-section .sort-up {
  display: none;
}
.cv-container .main section:last-of-type .edit-section .sort-down,
.cv-container .cv-content section:last-of-type .edit-section .sort-down {
  display: none;
} */
.cv-container #profile .edit-section {
  display: none;
}
.cv-container #references .date-range {
  display: none !important;
}
.cv-container #references .article-body {
  width: 100%;
}
.cv-container svg {
  overflow: visible;
}
.cv-container table {
  width: 100%;
}
.cv-container .morris-hover {
  display: none !important;
}
.cv-container input[type=month] {
  position: relative;
  border: none;
  max-width: 100%;
  content: attr(placeholder);
  display: inline-block;
}
.cv-container input[type=month]:before {
  content: attr(placeholder);
  position: absolute;
}
.cv-container .gallery .asset-thumb {
  display: block;
}
.cv-container .asset label.empty {
  display: block !important;
}
.cv-container .btn {
  margin-bottom: 15px;
}
.cv-container .btn i.subtle {
  opacity: 0.2;
}
.cv-container .btn i {
  opacity: 0.5;
}
.cv-container .btn.btn-glass {
  background-color: rgba(255, 255, 255, 0.15);
  -webkit-box-shadow: 0 3px 0 rgba(0, 0, 0, 0.05);
  box-shadow: 0 3px 0 rgba(0, 0, 0, 0.05);
  border: 1px solid rgba(255, 255, 255, 0.1);
  color: rgba(255, 255, 255, 0.7);
}
.cv-container a[href] {
  color: #428bca;
}
.cv-container a[href] [data-field=organization] {
  color: #428bca;
}
.cv-container [data-field=organization_url] {
  display: block;
}
.cv-container [data-field=end_date]:before {
  content: ' - ';
}
.cv-container .add-section {
  max-width: 850px;
  margin: 0px auto;
}
.cv-container .cv-content:after {
  content: '';
  display: block;
  clear: both;
}
.cv-container .cv-content .user-thumb {
  display: none;
}
.cv-container .cv-content .user-thumb.visible {
  display: inherit;
}
.cv-container .asset-thumb {
  position: relative;
  cursor: pointer;
  display: block;
}
.cv-container .asset-thumb .asset-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 15%;
  z-index: 100;
  opacity: 0.5;
}
.cv-container .asset-thumb .asset-overlay:hover {
  opacity: 0.75;
}
.cv-container .asset-thumb .asset-overlay.youtube {
  background-image: url("/images/icons/play.png");
}
.cv-container .asset-thumb .asset-overlay img {
  page-break-inside: avoid;
}
.cv-container .asset label.ellipsis > span {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: block;
}
@media (max-width: 992px) {
  #social-share {
    display: none;
  }
  .vcv-header a {
    display: block;
    margin-bottom: 15px;
  }
  .vcv-header .vcv-logo {
    display: inline;
  }
  .vcv-header .btn {
    width: 100%;
  }
}
.pdf .cv-container .chart-container {
  width: 850px;
}
.pdf .cv-container .cv-content {
  padding: 0px;
}
.pdf .cv-container .portfolio .css-crop {
  -webkit-box-shadow: none;
  box-shadow: none;
}
.pdf .cv-container .user-thumb {
  -webkit-box-shadow: none;
  box-shadow: none;
}
.pdf body,
.embed body {
  background: white !important;
}
.pdf .container,
.embed .container {
  padding: 0px;
  margin: 0px auto;
  width: 100%;
}
.pdf .cv-container,
.embed .cv-container {
  padding: 0px !important;
  margin-bottom: 0px !important;
  max-width: 100% !important;
  border: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.pdf .cv-container section:last-of-type,
.embed .cv-container section:last-of-type,
.pdf .cv-container section:last-of-type article:last-of-type,
.embed .cv-container section:last-of-type article:last-of-type,
.pdf .cv-container section:last-of-type article:last-of-type,
.embed .cv-container section:last-of-type article:last-of-type,
.pdf .cv-container p:last-of-type,
.embed .cv-container p:last-of-type,
.pdf .cv-container .content-container,
.embed .cv-container .content-container,
.pdf .cv-container .cv-content,
.embed .cv-container .cv-content {
  margin-bottom: 0px !important;
  padding-bottom: 0px !important;
}
.pdf .vcv-header,
.embed .vcv-header,
.pdf .vcv-footer,
.embed .vcv-footer {
  display: none;
}
.pdf header,
.embed header,
.pdf .header-text,
.embed .header-text {
  page-break-after: avoid;
  page-break-inside: avoid;
}
.pdf .no-page-break,
.embed .no-page-break,
.pdf .css-crop,
.embed .css-crop,
.pdf pre,
.embed pre,
.pdf blockquote,
.embed blockquote,
.pdf img,
.embed img,
.pdf svg,
.embed svg,
.pdf .chart-graph,
.embed .chart-graph,
.pdf .chart-container,
.embed .chart-container,
.pdf .asset,
.embed .asset {
  page-break-inside: avoid;
}
.pdf .no-page-break p,
.embed .no-page-break p {
  page-break-inside: avoid;
}
.pdf .page-break,
.embed .page-break {
  page-break-before: always;
}
.pdf thead,
.embed thead {
  display: table-header-group;
}
.pdf p,
.embed p {
  orphans: 4;
  widows: 4;
}
@page {
  size: A4 portrait;
}
.cv-container {
  font-family: "Raleway", "Didot", "Hoefler Text", Garamond, "Microsoft YaHei New", "Microsoft Yahei", "微软雅黑", 宋体, SimSun, 华文细黑, STXihei, 黑体, SimHei, sans-serif;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.65;
  background: white;
  padding: 0px;
}
.cv-container .cv-content {
  padding: 3em 9% 3em 4%;
  margin: 0px;
  position: relative;
}
.cv-container h2,
.cv-container h3,
.cv-container h4,
.cv-container h5,
.cv-container h6,
.cv-container label {
  margin-top: 0px;
  margin-bottom: 0.2em;
  font-weight: 500;
}
.cv-container h5 {
  margin: 0;
}
.cv-container h1,
.cv-container h3 {
  font-family: "Raleway", "Didot", "Hoefler Text", Garamond, "Microsoft YaHei New", "Microsoft Yahei", "微软雅黑", 宋体, SimSun, 华文细黑, STXihei, 黑体, SimHei, sans-serif;
}
.cv-container h1 {
  font-size: 350%;
  font-weight: 600;
  line-height: 1;
  text-transform: uppercase;
  margin: 0 0 .25em;
}
.cv-container h2 {
  font-size: 125%;
  font-weight: 600;
  line-height: 1.4;
  text-transform: uppercase;
}
.cv-container h3 {
  font-weight: 600;
  font-size: 125%;
  text-transform: uppercase;
  margin-bottom: 1.5em;
}
.cv-container h4,
.cv-container h5 {
  font-weight: 500;
  font-size: 100%;
}
.cv-container h5 {
  color: black;
}
.cv-container h6 {
  font-size: 100%;
  color: black;
  text-transform: uppercase;
}
.cv-container p {
  font-weight: 500;
}
.cv-container strong {
  font-weight: 600;
}
.cv-container section {
  clear: both;
  margin-bottom: 2.25em;
}
.cv-container #profile {
  margin-bottom: 0;
}
.cv-container [data-field="organization"] {
  font-weight: 600;
  color: #134f5c;
  text-transform: uppercase;
}
.cv-container a[href] [data-field="organization"] {
  color: #134f5c;
}
.cv-container #profile .article-body {
  display: flex;
  display: -webkit-flex;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  padding-top: .5em;
}
.cv-container #profile .user-title {
  flex: 1;
  -webkit-box-flex: 1;
}
.cv-container #profile .user-info {
  text-align: right;
}
.cv-container #profile .user-contact li,
.cv-container #profile .user-links li {
  margin-bottom: 0.25em;
}
.cv-container #profile .user-contact li i,
.cv-container #profile .user-links li i {
  float: right;
  margin-left: 0.75em;
  width: 1em;
  text-align: center;
  color: #134f5c;
}
.cv-container #profile .user-thumb {
  display: inline-block;
  width: 90%;
  border-radius: 100%;
}
.cv-container #profile .user-thumb .css-crop {
  padding-bottom: 100%;
  border-radius: 100%;
}
.cv-container #profile article.contact_info {
  margin-bottom: 2em;
}
.cv-container #profile .margin-top {
  margin-top: 1.5em;
}
.cv-container #profile .contact-field {
  margin-bottom: 1em;
}
.cv-container #profile .contact-field h4 {
  margin-bottom: 0px;
}
.cv-container .block-separator {
  display: block;
  text-align: center;
}
.cv-container .block-separator:after {
  display: inline-block;
  margin: 2em auto;
  height: 2px;
  width: 25px;
  background-color: black;
  content: '';
}
.cv-container .vcard .full-name {
  color: #134f5c;
}
.cv-container .vcard ul.user-contact li:after {
  font-family: FontAwesome;
  display: inline-block;
  width: 1em;
  margin-left: 0.75em;
  text-align: center;
  color: #134f5c;
}
.cv-container .vcard ul.user-contact li.locality:after {
  content: "\f041";
}
.cv-container .vcard ul.user-contact li.phone:after {
  content: "\f095";
}
.cv-container .vcard ul.user-contact li.email:after {
  content: "\f003";
}
.cv-container .column-container {
  margin-top: 2.25em;
  display: flex;
  display: -webkit-flex;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
}
.cv-container .column-container header .header-text {
  width: 30%;
}
.cv-container .column-container article .article-headings {
  width: 30%;
}
.cv-container .column-container article .article-body {
  width: 70%;
}
.cv-container .column-container .left {
  flex: 1;
  -webkit-box-flex: 1;
  width: 50%;
}
.cv-container .column-container .right {
  flex: 1;
  -webkit-box-flex: 1;
  margin-left: 2em;
  width: 50%;
}
.cv-container header {
  display: flex;
  display: -webkit-flex;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  align-items: center;
  margin-bottom: 2em;
}
.cv-container header .header-text {
  width: 15%;
  text-align: right;
  margin-bottom: 0;
  color: #134f5c;
}
.cv-container header .header-separator {
  flex: 1;
  -webkit-box-flex: 1;
  margin-left: 50px;
  margin-top: .65em;
}
.cv-container .header-separator {
  height: 1px;
  background-color: black;
}
.cv-container article {
  margin-bottom: 2em;
  display: flex;
  display: -webkit-flex;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
}
.cv-container article h4 {
  margin-bottom: 0.5em;
}
.cv-container article .article-headings {
  width: 15%;
  text-align: right;
}
.cv-container article .article-body {
  width: 85%;
  padding: 0 0 0 50px;
  line-height: 1.75;
}
.cv-container article .article-body .header-text {
  padding-top: 2.25em;
  text-transform: uppercase;
  color: #134f5c;
  font-weight: 600;
  font-size: 125%;
  border-top: 1px solid black;
}
.cv-container article .article-body .title-text {
  font-weight: 600;
  font-size: 110%;
}
.cv-container .skill-container {
  display: inline-block;
  width: 50%;
  vertical-align: top;
}
.cv-container .skill-container .article-headings {
  width: 30%;
  padding-left: 20px;
}
.cv-container .skill-container .article-body {
  width: 70%;
}
.cv-container .skill-container > .competency {
  display: flex;
  display: -webkit-flex;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
}
.cv-container .competency-list {
  list-style: none;
  width: 100%;
  display: flex;
  display: -webkit-flex;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  justify-content: space-between;
  -webkit-justify-content: space-between;
  -webkit-box-pack: justify;
  margin-bottom: 1em;
}
.cv-container .competency-list li {
  width: 1em;
  height: 1em;
  background-color: #cccccc;
  border-radius: 100%;
}
.cv-container .competency-list li.filled {
  background-color: #134f5c;
}
.cv-container .portfolio .row {
  margin-left: -5px;
  margin-right: -5px;
}
.cv-container .portfolio .col-sm-4 {
  padding-left: 5px;
  padding-right: 5px;
}
.cv-container .portfolio .asset .asset-description {
  display: none;
}
.cv-container .portfolio label {
  font-weight: 700;
  margin-bottom: 5px;
  margin-top: 5px;
  min-height: 1.5em;
}
.cv-container .portfolio .css-crop {
  width: 100%;
  padding-bottom: 75%;
  background-size: cover;
  background-position: center center;
  border: 1px solid #134f5c;
  -webkit-box-shadow: 1px 1px 3px 0px #cccccc;
  box-shadow: 1px 1px 3px 0px #cccccc;
}
.cv-container .portfolio a label {
  cursor: pointer;
}
.cv-container .sidebar .portfolio .asset {
  padding-left: 0px;
  padding-right: 0px;
}
.cv-container .sidebar .portfolio .css-crop {
  border: 0px;
  padding: 0px;
  height: auto;
  background-image: none !important;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.cv-container .sidebar .portfolio .css-crop img {
  display: block !important;
}
@media (min-width: 768px) {
  .cv-container .sidebar .portfolio label {
    text-align: left;
  }
  .cv-container .sidebar .portfolio .asset,
  .cv-container .sidebar .portfolio .asset-thumb {
    width: 100%;
  }
  .cv-container .sidebar .portfolio .asset-description {
    display: block;
  }
}
.cv-container .portfolio label {
  font-weight: initial;
}
.cv-container .portfolio .css-crop {
  width: 100%;
  padding-bottom: 75%;
  border: none;
  box-shadow: none;
}
.cv-container .portfolio .asset {
  padding-left: 5px;
  padding-right: 5px;
}
.cv-container .edit-new {
  width: 100%;
  margin-bottom: 0px;
}
@media (max-width: 768px) {
  .cv-container .cv-content {
    padding: 3em 4%;
  }
  .cv-container .article-headings {
    margin-bottom: 1em;
  }
  .cv-container #profile .article-headings {
    text-align: center;
  }
  .cv-container #profile .article-body {
    display: block;
  }
  .cv-container #profile .user-info {
    text-align: left;
    margin-top: 1em;
  }
  .cv-container #profile .user-thumb {
    width: 50%;
    margin: 0 auto;
  }
  .cv-container #profile ul.user-contact li:after {
    display: none;
  }
  .cv-container #profile ul.user-contact li:before {
    font-family: FontAwesome;
    display: inline-block;
    width: 1em;
    margin-right: 0.75em;
    text-align: center;
    color: #134f5c;
  }
  .cv-container #profile ul.user-contact li.locality:before {
    content: "\f041";
  }
  .cv-container #profile ul.user-contact li.phone:before {
    content: "\f095";
  }
  .cv-container #profile ul.user-contact li.email:before {
    content: "\f003";
  }
  .cv-container #profile ul.user-links i {
    float: none;
    margin-left: 0;
    margin-right: 0.75em;
    width: 1em;
    text-align: center;
    color: #134f5c;
  }
  .cv-container .skill-container {
    display: block;
    width: 100%;
  }
  .cv-container .skill-container .article-headings {
    text-align: right;
  }
  .cv-container .skill-container .article-body {
    padding-left: 2em;
  }
  .cv-container header {
    display: block;
    position: relative;
  }
  .cv-container header .header-text {
    width: auto;
    display: inline-block;
    text-align: left;
    background-color: white;
    padding-right: 1em;
  }
  .cv-container header .header-separator {
    position: absolute;
    top: 50%;
    width: 100%;
    margin: 0;
    z-index: -1;
  }
  .cv-container article {
    -webkit-box-orient: vertical;
  }
  .cv-container article .article-headings,
  .cv-container article .article-body {
    width: 100%;
  }
  .cv-container article .article-headings {
    text-align: left;
  }
  .cv-container article .article-body {
    padding: 0;
  }
}
.pdf body > .container {
  padding: 0px;
}
.pdf .cv-container {
  margin: 0px;
}
.pdf .cv-container .cv-content {
  padding: 0 9% 0 5%;
}
.pdf .cv-container .chart-container {
  width: 600px !important;
}
.pdf .cv-container .main > *:last-child,
.pdf .cv-container .sidebar > *:last-child {
  page-break-after: always;
}
.pdf .cv-container .main {
  padding: 0 3%;
}
@page {
  margin: 1.2cm;
}
@page :first {
  margin-top: 0cm;
}