@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,600,700);
@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:300,700);
.css-crop {
  width: 100%;
  height: 0;
  padding-bottom: 50%;
  background-repeat: no-repeat;
}
.css-crop.bg-cover {
  background-size: cover;
  /*-ms-behavior: url("/styles/backgroundsize.min.htc"); doesn't work on IE8-9...*/
  background-position: center;
}
.css-crop.bg-contain {
  background-size: contain;
  background-position: center;
}
.clear-margin {
  margin: 0;
  padding: 0;
}
.full-width {
  width: 100%;
}
.half-width {
  width: 50%;
}
.clickable {
  cursor: pointer;
}
.inline {
  display: inline;
}
.inline-block {
  display: inline-block !important;
}
.nomargin {
  margin: 0px !important;
}
.nowrap {
  white-space: nowrap;
}
.centered {
  display: block;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
.first {
  margin-top: 0px !important;
}
.last {
  margin-bottom: 0px !important;
}
.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: block;
}
.mejs-overlay-button {
  display: none;
}
[data-id=new] [data-field=title] {
  display: none;
}
.cv-viewer p {
  min-height: 1em;
}
.cv-viewer .vcv-header {
  margin: 30px auto;
  max-width: 1020px;
  position: relative;
}
.cv-viewer .vcv-header #social-share {
  text-align: right;
  position: absolute;
  left: -80px;
  top: 80px;
  z-index: 1050;
  opacity: 0;
}
.cv-viewer .vcv-header #social-share .share-button {
  min-height: 30px;
}
.cv-viewer .vcv-header #social-share .share-button.subtle {
  opacity: 0.75;
}
.cv-viewer .vcv-header .banner-top {
  padding-left: 90px;
  position: relative;
  margin-top: -10px;
  margin-bottom: -30px;
  z-index: 0;
  opacity: 0.5;
  display: inline-block;
}
.cv-viewer .vcv-header .banner-top:hover {
  opacity: 0.8;
  -webkit-transition-property: transform opacity;
  -moz-transition-property: transform opacity;
  transition-property: transform opacity;
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  transition-duration: 0.5s;
}
.cv-viewer .vcv-logo {
  height: 40px;
  display: block;
  padding: 5px 0;
}
.cv-viewer .cv-container article .empty {
  display: none !important;
}
.cv-viewer footer.vcv-footer {
  margin-top: 100px;
  color: #333;
  text-align: center;
}
.cv-viewer footer .powered-by {
  margin-top: 0px;
}
.cv-viewer footer .updated-at {
  opacity: 0.5;
}
.cv-fullscreen {
  position: relative;
}
.cv-fullscreen .powered-by a {
  color: white;
}
.cv-fullscreen .vcv-header {
  display: none;
}
.cv-fullscreen .vcv-footer {
  width: 100%;
  position: absolute;
  bottom: 0px;
  color: white;
  margin-top: 50px;
}
.cv-fullscreen .vcv-footer .updated-at {
  display: block;
  margin-bottom: 1em;
  opacity: 0.75;
}
.editor-visible {
  display: none;
}
.cv-editor .cv-container {
  margin: 0px auto 150px auto;
}
.cv-editor .cv-container .editor-visible {
  display: block;
}
.cv-container,
.cv-content {
  opacity: 1 !important;
}
.cv-container {
  display: block;
  margin: 0px auto 10px auto;
  min-height: 500px;
  padding: 50px 6.5%;
  max-width: 1020px;
  background: white;
  border-radius: 1px;
  z-index: 10;
}
.cv-container .nowrap-list li {
  white-space: nowrap;
}
.cv-container section {
  position: relative;
  word-wrap: break-word;
}
.cv-container article:after {
  content: '';
  display: block;
  clear: both;
}
.cv-container .main section:first-child .edit-section .sort-up,
.cv-container .cv-content section:first-child .edit-section .sort-up {
  display: none;
}
.cv-container .main section:last-of-type .edit-section .sort-down,
.cv-container .cv-content section:last-of-type .edit-section .sort-down {
  display: none;
}
.cv-container #profile .edit-section {
  display: none;
}
.cv-container #references .date-range {
  display: none !important;
}
.cv-container #references .article-body {
  width: 100%;
}
.cv-container svg {
  overflow: visible;
}
.cv-container table {
  width: 100%;
}
.cv-container .morris-hover {
  display: none !important;
}
.cv-container input[type=month] {
  position: relative;
  border: none;
  max-width: 100%;
  content: attr(placeholder);
  display: inline-block;
}
.cv-container input[type=month]:before {
  content: attr(placeholder);
  position: absolute;
}
.cv-container .gallery .asset-thumb {
  display: block;
}
.cv-container .asset label.empty {
  display: block !important;
}
.cv-container .btn {
  margin-bottom: 15px;
}
.cv-container .btn i.subtle {
  opacity: 0.2;
}
.cv-container .btn i {
  opacity: 0.5;
}
.cv-container .btn.btn-glass {
  background-color: rgba(255, 255, 255, 0.15);
  -webkit-box-shadow: 0 3px 0 rgba(0, 0, 0, 0.05);
  box-shadow: 0 3px 0 rgba(0, 0, 0, 0.05);
  border: 1px solid rgba(255, 255, 255, 0.1);
  color: rgba(255, 255, 255, 0.7);
}
.cv-container a[href] {
  color: #428bca;
}
.cv-container a[href] [data-bind=organization] {
  color: #428bca;
}
.cv-container [data-bind=organization_url] {
  display: block;
}
.cv-container [data-bind=end_date]:before {
  content: ' - ';
}
.cv-container .add-section {
  max-width: 850px;
  margin: 0px auto;
}
.cv-container .cv-content:after {
  content: '';
  display: block;
  clear: both;
}
.cv-container .cv-content .user-thumb {
  display: none;
}
.cv-container .cv-content .user-thumb.visible {
  display: inherit;
}
.cv-container .asset-thumb {
  position: relative;
  cursor: pointer;
  display: block;
}
.cv-container .asset-thumb .asset-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 15%;
  z-index: 100;
  opacity: 0.5;
}
.cv-container .asset-thumb .asset-overlay:hover {
  opacity: 0.75;
}
.cv-container .asset-thumb .asset-overlay.youtube {
  background-image: url("/images/icons/play.png");
}
.cv-container .asset-thumb .asset-overlay img {
  page-break-inside: avoid;
}
.cv-container .asset label.ellipsis > span {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: block;
}
@media (max-width: 992px) {
  #social-share {
    display: none;
  }
  .vcv-header a {
    display: block;
    margin-bottom: 15px;
  }
  .vcv-header .vcv-logo {
    display: inline;
  }
  .vcv-header .btn {
    width: 100%;
  }
}
.pdf .cv-container .chart-container {
  width: 850px;
}
.pdf .cv-container .cv-content {
  padding: 0px;
}
.pdf .cv-container .portfolio .css-crop {
  -webkit-box-shadow: none;
  box-shadow: none;
}
.pdf .cv-container .user-thumb {
  -webkit-box-shadow: none;
  box-shadow: none;
}
.pdf body,
.embed body {
  background: white !important;
}
.pdf .container,
.embed .container {
  padding: 0px;
  margin: 0px auto;
  width: 100%;
}
.pdf .cv-container,
.embed .cv-container {
  padding: 0px !important;
  margin-bottom: 0px !important;
  max-width: 100% !important;
  border: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.pdf .cv-container section:last-of-type,
.embed .cv-container section:last-of-type,
.pdf .cv-container section:last-of-type article:last-of-type,
.embed .cv-container section:last-of-type article:last-of-type,
.pdf .cv-container section:last-of-type article:last-of-type,
.embed .cv-container section:last-of-type article:last-of-type,
.pdf .cv-container p:last-of-type,
.embed .cv-container p:last-of-type,
.pdf .cv-container .content-container,
.embed .cv-container .content-container,
.pdf .cv-container .cv-content,
.embed .cv-container .cv-content {
  margin-bottom: 0px !important;
  padding-bottom: 0px !important;
}
.pdf .vcv-header,
.embed .vcv-header,
.pdf .vcv-footer,
.embed .vcv-footer {
  display: none;
}
.pdf header,
.embed header,
.pdf .header-text,
.embed .header-text {
  page-break-after: avoid;
  page-break-inside: avoid;
}
.pdf .no-page-break,
.embed .no-page-break,
.pdf .css-crop,
.embed .css-crop,
.pdf pre,
.embed pre,
.pdf blockquote,
.embed blockquote,
.pdf img,
.embed img,
.pdf svg,
.embed svg,
.pdf .chart-graph,
.embed .chart-graph,
.pdf .chart-container,
.embed .chart-container,
.pdf .asset,
.embed .asset {
  page-break-inside: avoid;
}
.pdf .no-page-break p,
.embed .no-page-break p {
  page-break-inside: avoid;
}
.pdf .page-break,
.embed .page-break {
  page-break-before: always;
}
.pdf thead,
.embed thead {
  display: table-header-group;
}
.pdf p,
.embed p {
  orphans: 4;
  widows: 4;
}
@page {
  size: A4 portrait;
}
.cv-container {
  font-family: "Source Sans Pro", "Open Sans", "Century Gothic", CenturyGothic, "Microsoft YaHei New", "Microsoft Yahei", "微软雅黑", 宋体, SimSun, 华文细黑, STXihei, 黑体, SimHei, sans-serif;
  font-weight: 300;
  font-size: 15px;
  background: white;
  padding: 0px 4% 5em 4%;
}
.cv-container h2,
.cv-container h3,
.cv-container h4,
.cv-container h5,
.cv-container h6,
.cv-container label {
  margin-top: 0px;
  margin-bottom: 0.25em;
  font-weight: 200;
}
.cv-container h1 {
  font-size: 475%;
  margin: 0px;
  line-height: 1em;
  text-transform: uppercase;
  font-weight: 200;
  letter-spacing: -2px;
  word-spacing: 5px;
}
.cv-container h3 {
  text-transform: uppercase;
  font-size: 200%;
}
.cv-container h2 {
  font-size: 150%;
  color: #555555;
}
.cv-container h4,
.cv-container h5 {
  font-weight: 500;
  font-size: 125%;
}
.cv-container h5 {
  color: #555555;
}
.cv-container h6 {
  font-size: 125%;
  color: #555555;
}
.cv-container .column-container {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: stretch;
  box-align: stretch;
  position: relative;
  background: #7F1900;
  clear: both;
  height: 100%;
}
.cv-container .column-container:after {
  content: " ";
  clear: both;
  display: table;
}
.cv-container .column-container:before {
  content: " ";
  display: block;
  position: absolute;
  z-index: 0;
  top: 0;
  width: 71%;
  height: 100%;
  left: 30%;
  background: white;
}
.cv-container .column-container .sidebar,
.cv-container .column-container .main {
  position: relative;
}
.cv-container .column-container .sidebar {
  background: #7F1900;
  width: 30%;
  padding-left: 0px;
  padding-right: 0px;
}
.cv-container .column-container .sidebar .reference_story h3 {
  color: white;
  font-size: 125%;
}
.cv-container .column-container .main {
  background: white;
  width: 70%;
  padding-left: 30px;
}
.cv-container article.vcard {
  margin-bottom: 0px;
}
.cv-container article.vcard .logo {
  float: right;
  width: 170px;
}
.cv-container article.vcard .logo .css-crop {
  background-image: url(null);
}
@media (max-width: 768px) {
  .cv-container article.vcard .logo {
    float: none;
    margin: 0px auto;
  }
}
.cv-container article.vcard .logo {
  display: none;
}
.cv-container .vcard ul.user-contact li:before {
  font-family: FontAwesome;
  display: inline-block;
  width: 1em;
  margin-right: 0.25em;
}
.cv-container .vcard li.adr:before {
  content: "\f041";
}
.cv-container .vcard li.phone:before {
  content: "\f095";
}
.cv-container .vcard li.email:before {
  content: "\f003";
}
.cv-container .contact-spacer {
  background-color: #7F1900;
  height: 75px;
  position: relative;
  width: 30%;
}
.cv-container .contact-spacer .spacer-stripe {
  position: absolute;
  width: 100%;
  bottom: 0px;
  height: 5px;
  border-top: 3px solid white;
}
.cv-container .user-title {
  color: black;
  padding: 1em 0px;
  background: white;
  position: relative;
  overflow: hidden;
}
.cv-container .user-title .title {
  font-style: italic;
}
.cv-container .sidebar {
  color: white;
  z-index: 1;
}
.cv-container .sidebar .add-section a.btn {
  color: white !important;
}
.cv-container .sidebar article a {
  color: white;
}
.cv-container .sidebar .text-section {
  padding: 15px;
}
.cv-container .sidebar .user-thumbnail {
  position: relative;
}
.cv-container .sidebar .user-thumbnail img {
  width: 100%;
}
.cv-container .sidebar .user-thumbnail .spacer-stripe {
  position: absolute;
  width: 100%;
  bottom: 0px;
  height: 4px;
  border-top: 2px solid #7F1900;
}
.cv-container .sidebar .user-contact,
.cv-container .sidebar .user-links {
  padding: 15px 15px 0px 15px;
}
.cv-container .sidebar .user-contact li,
.cv-container .sidebar .user-links li {
  margin-bottom: 1em;
}
.cv-container .sidebar .user-links {
  padding-top: 0px;
}
.cv-container .sidebar section[data-table=text_stories] .header-text,
.cv-container .sidebar section[data-table=reference_stories] .header-text,
.cv-container .sidebar section[data-table=text_stories] article,
.cv-container .sidebar section[data-table=reference_stories] article {
  padding: 0px 15px;
}
.cv-container .sidebar section[data-table=text_stories] .header-text,
.cv-container .sidebar section[data-table=reference_stories] .header-text {
  margin-top: 1.5em;
}
.cv-container .sidebar .margin-top {
  margin-top: 1.5em;
}
.cv-container .sidebar .contact-field {
  margin-bottom: 1em;
}
.cv-container .sidebar .contact-field h4 {
  margin-bottom: 0px;
}
.cv-container article {
  margin-bottom: 1.5em;
}
.cv-container article .article-body h4 {
  overflow: auto;
}
.cv-container .dated_story .article-headings {
  float: left;
  width: 18%;
  margin-right: 1%;
}
.cv-container .dated_story .article-body {
  float: left;
  width: 81%;
}
.cv-container .dated_story#references .article-headings {
  display: none;
}
.cv-container .dated_story#references .article-body {
  width: 100%;
}
.cv-container .competency {
  margin-bottom: 0.75em;
}
.cv-container .competency .competency-dial {
  position: relative;
  float: left;
  width: 60px;
  height: 60px;
  margin-right: 15px;
  margin-bottom: 5px;
}
.cv-container .competency .competency-level {
  position: absolute;
  top: 0px;
  font-size: 125%;
  line-height: 20px;
  padding: 20px 0px;
  width: 60px;
  text-align: center;
}
.cv-container .competency .competency-title {
  margin-bottom: 0.1em;
}
.cv-container .competency .competency-description {
  overflow: auto;
}
.cv-container .portfolio .row {
  margin: 0px -4px;
}
.cv-container .portfolio .row .col-sm-12 {
  padding: 0px;
}
.cv-container .portfolio .row .col-sm-6,
.cv-container .portfolio .row .col-sm-4 {
  padding: 4px;
}
.cv-container .portfolio label {
  min-height: 1.5em;
  text-align: left;
  margin: 0px;
}
.cv-container .portfolio .asset-description {
  display: none;
}
.cv-container .portfolio .asset-thumb {
  position: relative;
  border: 3px solid black;
  overflow: hidden;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.cv-container .portfolio .asset-thumb:hover .overlay {
  opacity: 1;
}
.cv-container .portfolio .asset-thumb:hover .portfolio-open {
  bottom: 0px;
}
.cv-container .portfolio .asset-thumb .overlay {
  position: absolute;
  left: 0px;
  bottom: -1px;
  width: 150px;
  max-width: 100%;
  padding: 10px;
  z-index: 10;
  display: block;
  opacity: 0;
  background: rgba(0, 0, 0, 0.6);
  transition: all 0.5s ease;
}
.cv-container .portfolio .asset-thumb .css-crop {
  width: 100%;
  padding-bottom: 100%;
}
.cv-container .edit-new {
  width: 100%;
  margin-bottom: 0px;
}
@media (max-width: 768px) {
  .cv-container h1,
  .cv-container h2 {
    text-align: center;
  }
  .cv-container .contact-spacer {
    width: 100%;
    height: 50px;
  }
  .cv-container .user-title {
    width: auto;
    white-space: initial;
  }
  .cv-container .column-container {
    display: block;
  }
  .cv-container .column-container:before {
    content: none;
  }
  .cv-container .column-container .main {
    width: 100% !important;
    padding: 30px 0px 0px 0px;
  }
  .cv-container .column-container .main .title-spacer {
    display: none;
  }
  .cv-container .column-container .sidebar {
    width: 100% !important;
  }
  .cv-container .column-container .sidebar .user-thumbnail {
    padding-bottom: 30px;
    background: white;
  }
  .cv-container .column-container .sidebar .user-thumbnail img {
    max-width: 50%;
    min-width: 200px;
    margin: 0px auto;
    display: block;
  }
  .cv-container article .article-headings,
  .cv-container article .article-body {
    width: 100% !important;
  }
}
.embed body > .container {
  padding: 0px 6% 0px 6%;
}
.pdf body > .container {
  padding: 0px;
}
.pdf .cv-container {
  margin: 0px;
}
.pdf .cv-container h1 {
  letter-spacing: initial;
}
.pdf .cv-container .contact-spacer {
  display: none;
}
.pdf .cv-container .column-container {
  background: transparent;
}
.pdf .cv-container .column-container:after {
  content: none;
}
.pdf .cv-container .column-container:before {
  content: none;
}
.pdf .cv-container .portfolio .overlay {
  opacity: 1 !important;
}
.pdf .cv-container .chart-container {
  width: 650px !important;
}
@page {
  margin: 1.2cm;
}
@page :first {
  margin-top: 0cm;
}